<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>623641826128-5rt89eq288oj0258o9k6ge8en55e1aof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623641826128-5rt89eq288oj0258o9k6ge8en55e1aof</string>
	<key>API_KEY</key>
	<string>AIzaSyCLZPEaNQYy4HgmmS_nUMTOdqRZPXaQJGw</string>
	<key>GCM_SENDER_ID</key>
	<string>623641826128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LawClub.LCApp.LCApp</string>
	<key>PROJECT_ID</key>
	<string>lc-fbms</string>
	<key>STORAGE_BUCKET</key>
	<string>lc-fbms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623641826128:ios:8ae73ee245aac2cc</string>
	<key>DATABASE_URL</key>
	<string>https://lc-fbms.firebaseio.com</string>
</dict>
</plist>